{% extends 'base.html' %}

{% block title %}Liste des Catégories{% endblock %}

<!-- Correspond à la page principale -->

{% block content %}

<div class="card">
    <h1>🎬 Catégories</h1>
    <a class="btn" href="{% url 'ajouter_categorie' %}">➕ Ajouter</a>

    {% if categories %}
        <ul style="text-align: left; margin-top: 1rem;">
            {% for categorie in categories %}
                <li>
                    <strong>{{ categorie.nom }}</strong> - {{ categorie.descriptif }}
                    <a href="{% url 'modifier_categorie' categorie.pk %}">✏️</a>
                    <a href="{% url 'supprimer_categorie' categorie.pk %}">❌</a>
                    <a href="{% url 'films_par_categorie' categorie.pk %}">🎬</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune catégorie.</p>
    {% endif %}
</div>
{% endblock %}
